---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div>
    <img src="/404.svg" alt="" width="20%" />
    <p>This page is still under development</p>
  </div>
</Layout>

<style>
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    padding: 50px 0px;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  @media (min-width: 1600px) {
    p {
      font-size: 22px;
    }
  }
</style>
