---
import ArrowUp from './ArrowUp.astro';
---

<footer id="footer">
  <p>antonmorozoff64@gmail.com <br /> +48 517 648 947</p>

  <a href="#header">
    <ArrowUp />
  </a>
</footer>

<style>
  footer {
    border-top: 1px solid var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0px;
  }

  p {
    font-size: 18px;
    line-height: 160%;
  }
</style>
