---
const items = [
  {
    name: 'LinkedIn',
    href: 'https://www.linkedin.com/in/anton-morozov-0aba38226/'
  },
  {
    name: 'GitHub',
    href: 'https://github.com/Yoha485'
  },
  {
    name: 'Telegram',
    href: 'https://t.me/wme_music'
  },
  {
    name: 'Download CV',
    href: 'https://t.me/wme_music'
  }
];
---

<address>
  {items.map((item) => <a href={item.href}>{item.name}</a>)}
</address>

<style>
  address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;

    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
  }

  address :global(button) {
    display: flex;
    justify-content: start;
  }
</style>
